@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .calcite-box {
    @apply shadow rounded-md;
  }
  .calcite-focus {
    @apply focus:border-primary focus:outline-none focus:ring-4 focus:ring-primary/10;
  }
  .calcite-hover {
    @apply border border-error hover:border-primary hover:ring-4 hover:ring-primary/10;
  }
  /* 2A2A2B */
}

body {
  @apply w-screen h-fit relative bg-base-200 overflow-y-auto overflow-x-hidden;
}

main {
  @apply w-full bg-transparent overflow-hidden h-fit;
}

.JobTitle {
  background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.progress {
  animation: progress 2.5s linear forwards;
}
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
